* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background-color: #f2ffff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0px 20px;
}

.container .heading h3{
  animation: fadeIn 3s;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: #367c70;
  
  text-shadow: 1px 1px 0px #957dad,
               1px 10px 5px rgba(16, 16, 16, 0.5);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&family=Source+Code+Pro:wght@300&display=swap');

.container .heading h3 .aah{
  color: #33a6a6;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 50px;
}

.container .heading #des {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #367c70; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  color: #034b43;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #367c70; }
}

.container .heading h3 {
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 3px solid #1e3a36;
}

.container .heading h3 span {
  font-weight: 100;
}
.container .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .box .image {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.container .box .image img {
  width: 100%;
  border-radius: 6px;  
}

@media only screen and (max-width: 396px){
  .container .box {
    flex-direction: column;
  }
  .container .box .image {
    width: 100%;
  }
  .container .heading h3 .aah{
    font-size: 50px;
  }
  .container .heading #des{
    font-size: 6.6px;
    font-weight: 600;
  }
  .title {
    font-size: small;
    margin-bottom: 1.5em;
  }
  .overlay p {
    font-size: xx-small;
  }
}

@media only screen and (min-width: 396px) and (max-width: 512px){
  .container .box {
    flex-direction: column;
  }
  .container .box .image {
    width: 100%;
  }
  .container .heading h3 .aah{
    font-size: 50px;
  }
  .container .heading #des{
    font-size: 8px;
    font-weight: 600;
  }
  .title {
    font-size: small;
    margin-bottom: 1.5em;
  }
  .overlay p {
    font-size: xx-small;
  }
}

@media only screen and (min-width: 512px) and (max-width: 1280px){
  .container .box {
    flex-direction: column;
  }
  .container .box .image {
    width: 100%;
  }
  .container .heading h3 .aah{
    font-size: 50px;
  }
  .container .heading #des{
    font-size: 10px;
    font-weight: 600;
  }
  .title {
    font-size: small;
    margin-bottom: 1.5em;
  }
  .overlay p {
    font-size:  small;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1930px){
  .container .heading h3 .aah{
    font-size: 50px;
  }
  .container .heading #des{
    font-size: 17px;
    font-weight: 500;
  }
  .title {
    font-size: small;
    margin-bottom: 1.5em;
  }
  .overlay p {
    font-size:  small;
  }
}

.title {
  color: #034b43;
  font-weight: bold;
  margin-bottom: 1.5em;
  text-shadow: 2px 2px 2px #aaaaaa;
  ;
}

.imagestyle {
  position: relative;
}

.imagestyle img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.5%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: opacity 3s ease-in;
  border-radius: 5px;
}

.overlay p {
  color: #dbdbda;
  padding: 5px;
}

.imagestyle:hover .overlay {
  opacity: 5;
}
footer{
  color: #1e3a36;
  background-color: #b0fefe;
  width: 100% !important;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 30px;
  align-self: center;
}

.footerP{
  text-align:center!important;
}
